<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h2>Blog Home</h2>
    <h4>My name is {{ name }}</h4>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <a href="{% url 'blog-call' %}">My Task</a>
    <a href="{% url 'set-name' %}">Set My Name</a>
    <a href="{% url 'get-name' %}">Get My Name</a>
    <a href="{% url 'clear-cache' %}">Clear Cache</a>
</body>
</html>